/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

:root {
  font-family: "Montserrat", sans-serif;
}

.font-color-pink{
  color: #FF004F
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-evenly {
  justify-content: space-evenly;
}

h4{
  margin: 0;
}

.shadow {
  box-shadow: 5px 5px 5px 5px black;
}

.hover-pointer:hover{
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px rgb(150, 150, 150);
}
